.App {

  margin: auto;
  width: 70%;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  max-width: 400px;
}

.login-form label {
  display: inline-block;
}

.login-form input {
  display: inline-block;

}

.login-button {
  max-width: 200px;
  margin: 0 auto;
}

.logout-button {
  float: right;
  width: 100px;
  height: 40px;
}
